body{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 18px;
	font-family: 'Roboto', "Arial", sans-serif;
	/* Оформление */

	/* Анимация */

	/* Разное */

}
.body-index{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	background-color: #849d8f;
    background-image: url("../img/slide-ice-cream.png");
    background-repeat: no-repeat;
    background-position: top center;
	/* Анимация */

	/* Разное */

}
.body-catalog{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	background-color: #849d8f;
	/* Анимация */

	/* Разное */
  
}


a{
	text-decoration: none;
}
a:hover{
	color: #ffbc9e;
}
a:active{
	color: #e84d37;
}
.wrapper{
	margin: 0 auto;
	width: 1141px;
}
.navigation{
	/* Позиционирование */

	/* Блочная модель */
	display: flex;
	align-items: center;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.wrap-info{
	/* Позиционирование */

	/* Блочная модель */
	display: flex;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.header-info{
	margin-left: auto;
    margin-right: 0;
}


.main-navigation .logo{
	/* Позиционирование */
	margin-right: 10px;
	/* Блочная модель */

	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.site-navigation{
	/* Позиционирование */
	padding: 0;
	margin: 0;
	/* Блочная модель */
	display: flex;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.site-navigation li{
	/* Позиционирование */
	margin-right: 1px;
	position: relative;
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.site-navigation .pulldown{
	/* Позиционирование */
	position: absolute;
	/* Блочная модель */
	width: 144px;
	/* Типографика */

	/* Оформление */
	background-color: #f8f7f4;
	border-radius: 5px;
	/* Анимация */

	/* Разное */
	
	
	
}
.site-navigation li span{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	border-bottom: 1px solid #b1c8bb;
	/* Анимация */

	/* Разное */
}
.site-navigation li a.link-active span,
.site-navigation li a.link-active span:hover,
.site-navigation li span:hover{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	border-bottom: 1px solid transparent;
	/* Анимация */

	/* Разное */
}
.site-navigation > li:hover .pulldown{
	display: block;
	
}
ul.pulldown{
	margin: 0;
	padding: 0;
}
.pulldown{
	/* Позиционирование */
	display: none;
    top: 28px;
    left: -5px;
	/* Блочная модель */
	/* Типографика */
    color: #323232;
	/* Оформление */
    box-shadow: 0px 7px 20px 0px black;
	/* Анимация */

	/* Разное */

}
.pulldown a{
	/* Позиционирование */
    
	/* Блочная модель */
	padding: 6px 20px;
	display: block;
	
	/* Типографика */
    color: #323232;
	/* Оформление */

	/* Анимация */

	/* Разное */

}
.menu{
	/* Позиционирование */
	padding: 6px 14px;
	/* Блочная модель */

	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */

}
.modal-links{
	/* Позиционирование */
	margin-left: auto;
	margin-right: 0;
	
	/* Блочная модель */
	display: flex;
	justify-content: space-between;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
a.link{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	color: #fefefe;
	font-weight: bold;
	/* Оформление */
	border-radius: 30px;
	/* Анимация */

	/* Разное */

}
a.link:hover{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	color: #333333;
	font-weight: bold;
	/* Оформление */
	background-color: #f8f7f4;
	border-radius: 30px;
	/* Анимация */

	/* Разное */

}
a.link:active{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	color: #333333;
	font-weight: bold;
	/* Оформление */
	background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
	border-radius: 30px;
	/* Анимация */

	/* Разное */

}
a.link-active{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	color: #fefefe;
	/* Оформление */
	background-color: #d07058;
	border-radius: 30px;
	/* Анимация */

	/* Разное */

}

a.nav-link{
    /* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	/* Оформление */

	/* Анимация */

	/* Разное */
}


a.nav-link:hover{
    /* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	/* Оформление */
	background-color: #fbded7;
	/* Анимация */

	/* Разное */
}
a.nav-link:active{
    /* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	/* Оформление */
	background-color: #f6b5a5;
	/* Анимация */

	/* Разное */
	
}
a.bold,
a.bold:hover,
a.bold:active{
	font-weight: bold;
	border-bottom: 1px solid #d1d0ce;
	
}

.search{
	/* Позиционирование */
    position: relative;
    
	/* Блочная модель */
	width: 32px;
	height: 32px;
	margin-right: 10px;
	/* Типографика */

	/* Оформление */
	border-radius: 30px;
    background-color: rgba(248, 247, 244, 0.2);
	/* Анимация */

	/* Разное */
	
}
.search::before{
	/* Позиционирование */
    position: absolute;
    top: 7px;
    left: 7px;
	/* Блочная модель */
    width: 17px;
    height: 17px;
	/* Типографика */

	/* Оформление */
	background-image: url(../img/loupe.svg);
	background-repeat: no-repeat;
  	background-position: 0 0;
	
	/* Анимация */

	/* Разное */
	content: "";
	
}
.search:hover{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	border-radius: 30px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.user-search-form{
	/* Позиционирование */
    position: absolute;
    top: 60px;
    right: 350px;
	/* Блочная модель */
	display: none;
	width: 312px;
	padding: 20px 14px;
	/* Типографика */
	/* Оформление */
	border-radius: 5px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.user-search-form input[type="search"]{
	/* Позиционирование */
	
	/* Блочная модель */
	width: 310px;
    padding: 9px 14px;
	/* Типографика */
	font-size: 16px;
	line-height: 24px;
	/* Оформление */
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	/* Анимация */

	/* Разное */
}
.sign-in{
	/* Позиционирование */
	position: relative;
	
	/* Блочная модель */
	padding-left: 43px;
	padding-top: 8px;
	margin-right: 10px;
	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	/* Оформление */
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.2);
	/* Анимация */

	/* Разное */
}
.sign-in span,
.basket span,
.basket-ice span{
	/* Позиционирование */
	
	/* Блочная модель */
	padding-right: 17px;
	/* Типографика */
	/* Оформление */
	/* Анимация */

	/* Разное */
}
.sign-in::before{
	/* Позиционирование */
	position: absolute;
	left: 17px;
	top: 6px;
	/* Блочная модель */
	width: 21px;
	height: 19px;
	/* Типографика */
	/* Оформление */
	background-image: url(../img/entrance.svg);
	background-repeat: no-repeat;
  	background-position: 0 0;
	/* Анимация */

	/* Разное */
	content: "";
}
.sign-in:hover{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	/* Оформление */
	border-radius: 30px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.modal-form-appointment{
	/* Позиционирование */
    position: absolute;
    top: 63px;
    right: 250px;
	/* Блочная модель */
	display: none;
	width: 239px;
	padding: 20px 19px;
	/* Типографика */

	/* Оформление */
	border-radius: 5px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.modal-form-appointment input[type="email"],
input[type="password"]{
	/* Позиционирование */
	
	/* Блочная модель */
    width: 209px;
    margin: 10px 0;
    padding: 10px 14px;
	/* Типографика */
	font-size: 16px;
	line-height: 24px;
	/* Оформление */
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	/* Анимация */

	/* Разное */
}
a.sign-link{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 25px;
	margin-right: 15px;
	margin-top: 20px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

a.sign-link:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */


}
a.sign-link:active {
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */
}
a.forgot-password,
a.new-account{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.basket::before{
	/* Позиционирование */
	position: absolute;
	left: 17px;
	top: 6px;
	/* Блочная модель */
	width: 21px;
	height: 20px;
	/* Типографика */
	/* Оформление */
	background-image: url(../img/basket.svg);
	background-repeat: no-repeat;
  	background-position: 0 0;
	/* Анимация */

	/* Разное */
	content: "";

}
a.basket{
	/* Позиционирование */
    position: relative;
	padding-left: 43px;
	padding-top: 8px;
	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	/* Оформление */
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.2);
	/* Анимация */

	/* Разное */
}
a.basket:hover{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	/* Оформление */
	border-radius: 30px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}

a.basket-ice{
	/* Позиционирование */
    position: relative;
    padding-left: 43px;
	padding-top: 8px;
	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	/* Оформление */
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.2);
	/* Анимация */

	/* Разное */
}
.basket-ice::before{
	/* Позиционирование */
	position: absolute;
	left: 17px;
	top: 6px;
	/* Блочная модель */
	width: 21px;
	height: 20px;
	/* Типографика */
	/* Оформление */
	background-image: url(../img/basket-red.svg);
	background-repeat: no-repeat;
  	background-position: 0 0;
	/* Анимация */

	/* Разное */
	content: "";
}
a.basket-ice:hover{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	/* Оформление */
	border-radius: 30px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.main-basket,
.main-basket span,
.main-basket small,
.main-basket b{
	/* Позиционирование */

	/* Блочная модель */
	display: none;
	
	/* Типографика */
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	/* Оформление */
	border-radius: 5px;
	background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.main-basket small{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	color: #999999;
	/* Оформление */
	/* Анимация */

	/* Разное */
}
b.total{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
	/* Оформление */
	/* Анимация */

	/* Разное */

}

.formalize-btn{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

.formalize-btn:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */


}
.formalize-btn:active {
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */
}
.road-catalog ul{
	/* Позиционирование */
	
	/* Блочная модель */
    display: flex;
    padding: 0;
    margin-bottom: auto;
	/* Типографика */
    list-style-type: none;
    
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.road-li{
	/* Позиционирование */
	
	/* Блочная модель */
	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.info-li{
	margin-right: 10px;
	color: #ffffff;
}
p.ice-sundae{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
p.streamline,
p.reg-price,
p.fatnesses,
p.fillers{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.streamline-item,
.fatnesses-item,
.fillers-item{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.wrap-setting{
	/* Позиционирование */
	
	/* Блочная модель */
    display: flex;
    flex-wrap: wrap;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.apply-btn{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	/* Оформление */
	border-radius: 30px;
	border: 2px solid #ffffff;
	background-color: rgba(248, 247, 244, 0.2);
	/* Анимация */

	/* Разное */
}
.apply-btn:hover{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
	/* Оформление */
	border-radius: 30px;
	background-color: #fbfcfb;
	/* Анимация */

	/* Разное */
}
.apply-btn:active{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
	/* Оформление */
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
	/* Анимация */

	/* Разное */
}
.main-catalog .wrapper > .ice-item:hover a.btn-hit-ice{
	display: inline-block;
	
}
.wrap-catalog{
	/* Позиционирование */
	
	/* Блочная модель */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.ice-item{
	/* Позиционирование */
	position: relative;
	
	/* Блочная модель */
	width: 267px;
	padding: 6px 13px;
	margin-top: 34px;
	/* Типографика */

	/* Оформление */
	/* Анимация */

	/* Разное */

}
.ice-item:hover{
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
}
.ice-item img{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	border-radius: 140px;
	/* Анимация */

	/* Разное */
}
.ice-item b{
	/* Позиционирование */
	position: absolute;
	top: 210px;
	left: 13px;
	/* Блочная модель */

	/* Типографика */
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
	/* Оформление */

	/* Анимация */

	/* Разное */

}	
.ice-item small{
	/* Позиционирование */
	position: absolute;
	top: 210px;
	left: 125px;
	/* Блочная модель */

	/* Типографика */
	font-size: 30px;
	line-height: 45px;
	color: #ffffff;
	/* Оформление */

	/* Анимация */

	/* Разное */

}
.ice-item span{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	/* Оформление */
    border-bottom: 1px solid #b1c8bb;
	/* Анимация */

	/* Разное */

}
/*ПАГИНАТОР ДОБАВИТЬ!!!*/

.time-work{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */

}
.main-phone{	
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */

}

.site-navigation li{
	/* Позиционирование */

	/* Блочная модель */

	/* Типографика */
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	/* Оформление */
	list-style: none;

	/* Анимация */

	/* Разное */
}
.sign-in, 
.basket{
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}
.container-slides{
	/* Позиционирование */
	
	/* Блочная модель */
	/* Типографика */
    color: white;
    text-align: center;
	/* Оформление */
	/* Анимация */

	/* Разное */
	
}
.slide-title{
	/* Позиционирование */
	
	/* Блочная модель */
	width: 700px;
	margin: 0 auto;
	margin-bottom: 27px;
	padding-top: 340px;
	/* Типографика */
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.slider-list{
	margin: 0;
	padding: 0;

	list-style-type: none;
}
.slide-one h2,
.slide-two h2,
.slide-three h2{	
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
    font-size: 60px;
    color: white;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
	/* Оформление */
	
	/* Анимация */

	/* Разное */


}

.slide-one{	
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	background-color: #849d8f;
	/* Анимация */

	/* Разное */

}
.slide-two{	
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	background-color: #8996a6;
	/* Анимация */

	/* Разное */

}
.slide-three{	
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	background-color: #9d8b84;
	/* Анимация */

	/* Разное */
	
}
a.button-slides{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 42px;
	/* Типографика */
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

a.button-slides:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 42px;
	/* Типографика */
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */


}
a.button-slides:active {
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 42px;
	/* Типографика */
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */
}
.visually-hidden {
	/* Позиционирование */
	position: absolute;
	/* Блочная модель */
	width: 1px;
  	height: 1px;
	/* Типографика */
	
	/* Оформление */

	/* Анимация */
	
	/* Разное */
    clip: rect(0, 0, 0, 0);
}
.slides-switches {
	/* Позиционирование */
	position: absolute;
    bottom: 63px;
    z-index: 20;
	/* Блочная модель */
	display: flex;
	/* Типографика */
    font-size: 0;
	/* Оформление */

	/* Анимация */

	/* Разное */
}
.slides-switches label {
	/* Позиционирование */
	
	/* Блочная модель */
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
	/* Типографика */
    vertical-align: top;
	/* Оформление */
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
	/* Анимация */

	/* Разное */
}
/*-- работа слайдера
#product-1:checked ~ .container-slides {
  background-color: #849d8f;
  background-image: url("../img/slide-ice-cream.png");
}

#product-2:checked ~ .container-slides {
  background-color: #8996a6;
  background-image: url("../img/slide-ice-cream-two.png");
}

#product-3:checked ~ .container-slides {
  background-color: #9d8b84;
  background-image: url("../img/slide-ice-cream-three.png");
}
#product-1:checked ~ .container-slides #slide1,
#product-2:checked ~ .container-slides #slide2,
#product-3:checked ~ .container-slides #slide3 {
  display: block;
}
#product-1:checked ~ .container-slides label[for="product-1"],
#product-2:checked ~ .container-slides label[for="product-2"],
#product-3:checked ~ .container-slides label[for="product-3"] {
  background-color: #ffffff;
} --*/
.container-action .wrapper{
	/* Позиционирование */
	
	/* Блочная модель */
	display: flex;
	justify-content: space-between;
	/* Типографика */
	
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}
.action-raspberry,
.action-chocolate{
	min-height: 230px;
}
.action-raspberry h2,
.action-chocolate h2,
.action-raspberry p,
.action-chocolate p,
.action-btn{
	margin: 23px 20px;
}
.action-raspberry{
	/* Позиционирование */
	
	/* Блочная модель */
	width: 560px;
	/* Типографика */
	
	/* Оформление */
	background-image: url(../img/raspberry-background.png);
	background-repeat: no-repeat;
	
	/* Анимация */

	/* Разное */
}
.action-chocolate{
	/* Позиционирование */
	
	/* Блочная модель */
	width: 560px;
	/* Типографика */
	
	/* Оформление */
	background-image: url(../img/chocolate-background.png);
	background-repeat: no-repeat;
	
	
	/* Анимация */

	/* Разное */
}
.container-action{
	margin-top: 37px;
}
.container-action h2{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}

.container-action p{
	/* Позиционирование */
	
	/* Блочная модель */
    padding-bottom: 22px;
	/* Типографика */
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	/* Оформление */
	
	/* Анимация */

	/* Разное */
}

a.action-btn{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 20px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

a.action-btn:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 20px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */


}
a.action-btn:active {
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 20px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */


}
.popular .wrapper > .popular-item:hover a.btn-hit-ice{
	display: inline-block;
	
}
.popular .wrapper{
	/* Позиционирование */
	
	/* Блочная модель */
	display: flex;
	justify-content: space-between;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */
}
.popular-item{
	/* Позиционирование */
	position: relative;
	
	/* Блочная модель */
	width: 267px;
	padding: 6px 13px;
	margin-top: 34px;
	/* Типографика */

	/* Оформление */
	/* Анимация */

	/* Разное */

}
.popular-item:hover{
	border-radius: 5px;
	background-color: rgba(248, 247, 244, 0.2);
}
.popular-item img{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */
	border-radius: 140px;
	/* Анимация */

	/* Разное */
}
.popular-item b{
	/* Позиционирование */
	position: absolute;
	top: 210px;
	left: 13px;
	/* Блочная модель */

	/* Типографика */
	font-size: 45px;
	line-height: 45px;
	color: #ffffff;
	/* Оформление */

	/* Анимация */

	/* Разное */

}	
.popular-item small{
	/* Позиционирование */
	position: absolute;
	top: 210px;
	left: 125px;
	/* Блочная модель */

	/* Типографика */
	font-size: 30px;
	line-height: 45px;
	color: #ffffff;
	/* Оформление */

	/* Анимация */

	/* Разное */

}
.popular-item span{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	/* Оформление */
    border-bottom: 1px solid #b1c8bb;
	/* Анимация */

	/* Разное */

}
.popular-item::before{
	/* Позиционирование */
	position: absolute;
	/* Блочная модель */
	width: 61px;
	height: 61px;
	/* Типографика */
	/* Оформление */
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
  	background-position: 0 0;
	/* Анимация */

	/* Разное */
	content: "";
}
a.btn-hit-ice{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 17px;
	margin-top: 17px;
	margin-bottom: 20px;
	margin-right: 32px;
	margin-left: 32px;
	display: none;
	
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

a.btn-hit-ice:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 17px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */


}
a.btn-hit-ice:active {
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 17px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */


}
.container-features{
	/* Позиционирование */
	
	/* Блочная модель */
	width: 1141px;
	min-height: 308px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	/* Типографика */

	/* Оформление */	
	background-color: #ece0c5;
	background-image: url(../img/waffle-background.jpg);
	border-radius: 17px;
	/* Анимация */

	/* Разное */
}
.features-list{
	/* Позиционирование */
	
	/* Блочная модель */
    display: flex;
    flex-wrap: wrap;
    margin: 0;
	padding: 0;
	/* Типографика */

	/* Оформление */
	/* Анимация */

	/* Разное */
}
.features-list li{
	/* Позиционирование */
	
	/* Блочная модель */
	display: flex;
	width: 49%;
	/* Типографика */

	/* Оформление */
	/* Анимация */

	/* Разное */
}
.features-list p{
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 7px;
	margin: 0;
}
.features-list img{
	/* Позиционирование */
	
	/* Блочная модель */
	width: 49px;
	height: 49px;
	padding-left: 20px;
	/* Типографика */

	/* Оформление */
	/* Анимация */

	/* Разное */
}
.container-features h3{
	/* Позиционирование */
	
	/* Блочная модель */
	padding: 25px 20px 10px;
	margin: 0;

	/* Типографика */
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	/* Оформление */

	/* Анимация */

	/* Разное */

}
.container-features li{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */

	/* Оформление */
    list-style: none;
	/* Анимация */

	/* Разное */
}
.container-features p{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	/* Оформление */

	/* Анимация */

	/* Разное */
}
.container-information{
  	/* Позиционирование */
	
	/* Блочная модель */
	margin-top: 40px;
	/* Типографика */

	/* Оформление */ 
	/* Анимация */

	/* Разное */
}
.wrap-information{
  	/* Позиционирование */
	
	/* Блочная модель */
    display: flex;
    justify-content: space-between;
	/* Типографика */

	/* Оформление */ 
	/* Анимация */

	/* Разное */
}
.info-news{
  	/* Позиционирование */
	
	/* Блочная модель */
    width: 510px;
    min-height: 160px;
    padding: 20px 25px;
	/* Типографика */

	/* Оформление */ 
	background-image: url(../img/strawberry-background.png);
	background-repeat: no-repeat;
	/* Анимация */

	/* Разное */
}
.info-news small{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	/* Оформление */
	background-color: #ffffff;
	/* Анимация */

	/* Разное */
}
.fruct-ice{
	/* Позиционирование */
	
	/* Блочная модель */
    display: block;
    width: 280px;
	/* Типографика */
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	text-decoration: underline;
	
	/* Оформление */

	/* Анимация */

	/* Разное */
}
.info-subscribe {
	/* Позиционирование */
	
	/* Блочная модель */
    min-height: 160px;
    padding: 5px;
	/* Типографика */

	/* Оформление */
	background-image: url(../img/bg-post.svg);
	background-repeat: no-repeat;
	/* Анимация */

	/* Разное */
	
}
.form-subscribe{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}
.lines{
    /* Позиционирование */
	
	/* Блочная модель */
    width: 510px;
    padding: 30px 20px;
	/* Типографика */
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	/* Оформление */
	background-color: #f8f7f4;
	border-radius: 5px;
	/* Анимация */

	/* Разное */
}
.lines input[type="email"]{
	/* Позиционирование */
	
	/* Блочная модель */
    width: 365px;
    height: 40px;
	/* Типографика */
	font-size: 16px;
	line-height: 24px;
	/* Оформление */
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	/* Анимация */

	/* Разное */
}
a.subscribe-link{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 20px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

a.subscribe-link:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */

}
a.subscribe-link:active {
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */

}
.container-map{
	/* Позиционирование */
	
	/* Блочная модель */
	position: relative;
	min-height: 367px;
	padding-top: 63px;
	padding-bottom: 63px;
	margin-top: 40px;
	/* Типографика */

	/* Оформление */
	background-image: url(../img/maps.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* Анимация */

	/* Разное */
}
.contacts{
	/* Позиционирование */
	
	/* Блочная модель */
    width: 300px;
    margin-left: auto;
    padding: 30px 25px;
	/* Типографика */
	
	/* Оформление */
	border-radius: 15px;
	background-color: rgba(255, 254, 254, 0.98);
	opacity: 98%;
	/* Анимация */

	/* Разное */
}
.con-time{
	padding-top: 20px;
	width: 180px;
	margin: 0;
}
.contacts span{
	/* Позиционирование */
	
	/* Блочная модель */
	/* Типографика */

	/* Оформление */
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
	/* Анимация */

	/* Разное */
}
.con-address{
	/* Позиционирование */
	
	/* Блочная модель */
	margin: 0;
	/* Типографика */

	/* Оформление */
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
	/* Анимация */

	/* Разное */
}
.con-phone{
	/* Позиционирование */
	
	/* Блочная модель */
    padding-bottom: 10px;
    margin: 0;
	/* Типографика */

	/* Оформление */
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #323232;
	/* Анимация */

	/* Разное */
}
.map-pin{
	position: absolute;
	top: 137px;
	left: 323px;
}
.btn-form-map{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 28px;
	margin-top: 25px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

.btn-form-map:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */

}
.btn-form-map:active{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */

}
.modal-contacts{
	/* Позиционирование */
	position: fixed;
	top: 50%;
	left: 50%;
	
	/* Блочная модель */
	display: none;
    width: 420px;
	padding: 14px 18px 25px;
	margin-left: -210px;
	margin-top: -221px;
	/* Типографика */
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 500;
	/* Оформление */
	border-radius: 5px;
    background-color: #f8f7f4;
	/* Анимация */

	/* Разное */
}
.modal-contacts::before{
    /* Позиционирование */
    position: absolute;
    
    top: 15px;
    right: 15px;
	/* Блочная модель */
	width: 18px;
	height: 17px;
	/* Типографика */
	/* Оформление */
	background-image: url(../img/cross-big.svg);
	background-repeat: no-repeat;
  	background-position: 0 0;
	/* Анимация */

	/* Разное */
	content: "";
    
}
.modal-form-contacts input[type="text"],
.modal-form-contacts input[type="email"],
.modal-form-contacts textarea{
	/* Позиционирование */
	
	/* Блочная модель */
    width: 265px;
    padding: 8px 15px;
    margin: 10px 0;
	/* Типографика */
	font-size: 16px;
	line-height: 24px;
	/* Оформление */
	border-radius: 5px;
	border: 1px solid #d3d3d2;
	/* Анимация */

	/* Разное */
}

.btn-form-submit{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	padding: 10px 24px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	/* Анимация */

	/* Разное */
}

.btn-form-submit:hover{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	/* Анимация */

	/* Разное */

}
.btn-form-submit:active{
	/* Позиционирование */
	
	/* Блочная модель */
	border-radius: 35px;
	/* Типографика */
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;

	/* Оформление */
    background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);

	/* Анимация */

	/* Разное */
}

.wrap-footer{
	/* Позиционирование */
	
	/* Блочная модель */
    display: flex;
    align-items: center;
    justify-content: space-between;
	/* Типографика */

	/* Оформление */

	/* Анимация */

	/* Разное */	
}
.footer-social ul{
	/* Позиционирование */
	
	/* Блочная модель */
    display: flex;
    justify-content: space-between;
    width: 186px;
    margin: 0;
    padding: 0;
	/* Типографика */

	/* Оформление */
    list-style-type: none;
	/* Анимация */

	/* Разное */
    
    
}
.footer-info{
	display: flex;
	width: 340px;
	flex-wrap: wrap;
}
.about-info{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	/* Оформление */

	/* Анимация */

	/* Разное */
}
.provider-info{
	/* Позиционирование */
	
	/* Блочная модель */

	/* Типографика */
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
	/* Оформление */

	/* Анимация */

	/* Разное */
}

.htmlacademy{
	/* Позиционирование */
	
	/* Блочная модель */
    width: 191px;
    min-height: 60px;
	/* Типографика */
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
	/* Оформление */

	/* Анимация */

	/* Разное */
}
.htmlacademy img{
	width: 113px;
	height: 38px;
}