body{
	font-size: 18px;
	font-family: "Roboto", "Arial", sans-serif;
}
.body-index{
	background-color: #849d8f;
	background-image: url("../img/slide-ice-cream.png");
	background-repeat: no-repeat;
	background-position: top center;
}
.body-catalog{
	background-color: #849d8f;
}
a{
	text-decoration: none;
}
a:hover{
	color: #ffbc9e;
}
a:active{
	color: #e84d37;
}
.wrapper{
	position: relative;
	margin: 0 auto;
	width: 1146px;
}
.navigation{
	display: flex;
	align-items: center;
}
.wrap-info{
	display: flex;
}
.header-info{
	margin-left: auto;
	margin-right: 0;
	line-height: 10px;
	text-align: right;
}
.main-header{
	padding: 10px 0 0;
}
.main-navigation .logo{
	margin-right: 7px;
}
.logo-link{
	display: block;
	height: 64px;
}
.site-navigation{
	padding: 0;
	margin: 0;
	margin-bottom: 4px;
	display: flex;
}
.site-navigation li{
	position: relative;
}
.site-navigation .pulldown{
	position: absolute;
	width: 144px;
	background-color: #f8f7f4;
	border-radius: 5px;
}
.site-navigation li span{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.site-navigation a.link-active span,
.site-navigation a.link-active span:hover,
.site-navigation:hover{
	border-bottom: none;
}
.site-navigation > li:hover .pulldown{
	display: block;
}
ul.pulldown{
	margin: 0;
	padding: 0;
}
.pulldown{
	display: none;
	top: 28px;
	left: -5px;
	color: #323232;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 3;
}
.pulldown a{
	padding: 6px 20px;
	display: block;
	color: #323232;
}
.menu{
	padding: 6px 14px;
}
.modal-links{
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}
a.link{
	font-size: 16px;
	line-height: 18px;
	color: #fefefe;
	font-weight: bold;
	border-radius: 30px;
}
a.link:hover{
	font-size: 16px;
	line-height: 18px;
	color: #333333;
	font-weight: bold;
	background-color: #f8f7f4;
	border-radius: 30px;
	border-bottom: transparent;
}
a.link:active{
	font-size: 16px;
	line-height: 18px;
	color: #333333;
	font-weight: bold;
	background-color: rgba(248, 247, 244, 0.988);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
a.link-active{
	font-size: 16px;
	line-height: 18px;
	color: #fefefe;
	background-color: #d07058;
	border-radius: 30px;
}
a.nav-link{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}
a.nav-link:hover{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	background-color: #fbded7;
}
a.nav-link:active{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
	background-color: #f6b5a5;
}
a.link-active-catalog{
	font-size: 14px;
	line-height: 18px;
	color: #fefefe;
	background-color: #d07058;
}
a.bold,
a.bold:hover,
a.bold:active{
	font-weight: bold;
	border-bottom: 1px solid #d1d0ce;
}
.search{
	position: relative;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.2);
}
.search svg{
	position: absolute;
	top: 7px;
	left: 7px;
	width: 17px;
	height: 17px;
}
.search svg{
	fill: #fff;
}
.search:hover path,
.search:focus path{
	fill: #000000;
}
.search:hover{
	border-radius: 30px;
	background-color: #f8f7f4;
}
.user-search-form{
	position: absolute;
	top: 49px;
	right: 229px;
	display: none;
	width: 312px;
	padding: 20px 14px;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 3;
}
.user-search-form input[type="search"]{
	width: 310px;
	padding: 9px 14px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.search:hover + .user-search-form{
	display: block;
}
.sign-in{
	position: relative;
	padding-left: 43px;
	padding-top: 8px;
	margin-right: 12px;
	font-size: 14px;
	line-height: 16px;
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.2);
}
.sign-in span{
	padding-right: 16px;
}
.basket span{
	padding-right: 34px;
}
.basket-ice span{
	padding-right: 16px;
}
.sign-in svg{
	position: absolute;
	left: 17px;
	top: 6px;
	width: 21px;
	height: 19px;
}
.sign-in svg path{
	fill: #fff;
}
.sign-in:hover path,
.sign-in:focus path{
	fill: #000000;
}
.sign-in:hover{
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	border-radius: 30px;
	background-color: #f8f7f4;
}
.modal-form-appointment{
	position: absolute;
	top: 49px;
	right: 125px;
	display: none;
	width: 239px;
	padding: 0 20px;
	padding-top: 20px;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 3;
}
.modal-form-appointment input[type="email"],
input[type="password"]{
	width: 209px;
	padding: 10px 14px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.modal-form-appointment input[type="email"]{
	margin-bottom: 10px;
}
.modal-form-appointment input[type="password"]{
	margin-top: 10px;
}
.sign-in:hover + .modal-form-appointment{
	display: block;
}
.flex-sign{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sign-link{
	display: block;
	border-radius: 35px;
	padding: 10px 25px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
}
.sign-link:hover{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.sign-link:active{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
a.forgot-password,
a.new-account{
	display: block;
	width: 125px;
	margin-left: auto;
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}
.basket{
	position: relative;
	padding-left: 43px;
	padding-top: 8px;
	font-size: 14px;
	line-height: 16px;
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.2);
}
.basket svg{
	position: absolute;
	left: 17px;
	top: 6px;
	width: 21px;
	height: 20px;
	fill: #fff;
}
.basket:hover{
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	border-radius: 30px;
	background-color: #f8f7f4;
}
.basket:hover svg,
.basket:focus svg{
	fill: #000;
}
.basket-ice{
	position: relative;
	padding-left: 43px;
	padding-top: 6px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	border-radius: 30px;
	background-color: #f8f7f4;
}
.basket-ice svg{
	position: absolute;
	left: 15px;
	top: 4px;
	width: 21px;
	height: 20px;
}
.basket-ice:hover + .main-basket{
	display: block;
}
.main-basket ul{
	padding: 0;
	margin: 0;
}
.main-basket{
	position: absolute;
	top: 49px;
	right: 0;
	display: none;
	width: 510px;
	padding: 20px 15px;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 2;
}
.main-basket span,
.main-basket small,
.main-basket b{
	font-size: 13px;
	line-height: 16px;
	color: #323232;
}
.main-basket small{
	width: 51px;
	color: #999999;
}
.main-basket ul{
	list-style-type: none;
}
.item-basket{
	position: relative;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}
.border{
	border-bottom: 1px solid #ccccc9;
}
.item-basket .weight{
	padding-left: 32px;
	width: 47px;
}
.item-basket b{
	padding-left: 29px;
}
.item-basket img{
	margin-left: 26px;
	border-radius: 20px;
}
.close-basket{
	position: absolute;
	top: 9px;
	width: 11px;
	height: 11px;
	background-image: url(../img/cross-small.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
}
.ice-basket{
	padding-left: 13px;
}
.item-basket .straw{
	width: 216px;
	padding-left: 13px;
}
b.total{
	display: block;
	width: 110px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: auto;
	margin-right: 0;
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}
.formalize-btn{
	display: block;
	margin-left: auto;
	margin-right: 0;
	padding: 10px 14px;
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
}
.formalize-btn:hover{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.formalize-btn:active{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.road-catalog{
	margin-top: 3px;
}
.road-catalog ul{
	display: flex;
	padding: 0;
	margin-bottom: auto;
	list-style-type: none;
}
.road-li{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.road-li:hover{
	border-bottom: transparent;
}
.info-li:last-child .road-li{
	border-bottom: none; 
}
.info-li{
	margin-right: 10px;
	color: #ffffff;
}
p.ice-sundae{
	margin: 0;
	padding-top: 4px;
	padding-bottom: 25px;
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #ffffff;
}
.streamline-item,
.fatnesses-item,
.fillers-item{
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}
.form-setting{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 27px;
}
.catalog-setting{
	padding-right: 16px;
	margin-bottom: 14px;
}
.catalog-setting p{
	display: block;
	margin-bottom: 7px;
	margin-top: 0;
	margin-left: 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
}
.container-box{
	display: flex;
	justify-content: space-between;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 20px;
}
.setting-select{
	position: relative;
	padding: 8px 31px 8px 15px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border-radius: 20px;
	background-color: rgba(248, 247, 244, 0.2);
	background-image: url(../img/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: 170px center;
	border: none;
	outline: none;
}
.setting-select:hover{
	background-image: url(../img/select-arrow-hover.jpg);
	background-color: #ffffff;
	color: #000000;
}
.set-stream{
	padding: 0;
}
.range-cost{
	position: relative;
	width: 219px;
	height: 36px;
}
.scale{
	position: absolute;
	top: 16px;
	left: 21px;
	width: 176px;
	height: 4px;
	background-color:rgba(255, 255, 255, .5);
}
.field{
	position: absolute;
	top: 16px;
	left: 38px;
	width: 107px;
	height: 4px;
	background-color:rgba(255, 255, 255, 1);
}
.toggle-first{
	position: absolute;
	top: 8px;
	left: 34px;
	width: 20px;
	height: 20px;
	background-color:rgba(255, 255, 255, 1);
	border-radius: 50%;
}
.toggle-end{
	position: absolute;
	top: 8px;
	left: 132px;
	width: 20px;
	height: 20px;
	background-color:rgba(255, 255, 255, 1);
	border-radius: 50%;
}
.toggle-center-first{
	position: absolute;
	top: 16px;
	left: 42px;
	width: 4px;
	height: 4px;
	background-color: #b1b1b1;
	border-radius: 50%;
}
.toggle-center-end{
	position: absolute;
	top: 16px;
	left: 140px;
	width: 4px;
	height: 4px;
	background-color: #b1b1b1;
	border-radius: 50%;
}
.fatnesses-item{
	padding-top: 10px;
	padding-right: 0;
	padding-left: 11px;
}
.fatnesses-item label{
	position: relative;
	display: block;
	padding-left: 32px;
	margin-right: 18px;
	margin-bottom: 9px;
	cursor: pointer;
}
.fatnesses-item label::before{
	position: absolute;
	left: 0;
	top: -3px;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.8;
	content: "";
}
.fatnesses-item label::after{
	position: absolute;
	left: 0;
	top: -3px;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0;
	transition: 0.3s;
	content: "";
}
.fatnesses-item input:checked + label::after{
	opacity: 0.8;
}
.fatnesses-item input:hover + label::after{
	opacity: 1;
}
.fatnesses-item input:hover + label::before{
	opacity: 1;
}
.fatnesses-item input:disabled + label::after{
	opacity: 0.4;
}
.fatnesses-item input:disabled + label::before{
	opacity: 0.4;
}
.fillers-item{
	padding-top: 8px;
	padding-left: 16px;
}
.fillers-item label{
	position: relative;
	display: block;
	padding-bottom: 8px;
	padding-left: 31px;
	margin-right: 22px;
	cursor: pointer;
}
.fillers-item label:last-child{
	padding-right: 0;
}
.fillers-item label::before{
	position: absolute;
	left: 0;
	top: -4px;
	width: 25px;
	height: 25px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.8;
	content: "";
}
.fillers-item label::after{
	position: absolute;
	left: 0;
	top: -4px;
	width: 25px;
	height: 25px;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0;
	content: "";
}
.fillers-item input:checked + label::after{
	opacity: 0.8;
}
.fillers-item input:hover + label::after{
	opacity: 1;
}
.fillers-item input:hover + label::before{
	opacity: 1;
}
.fillers-item input:disabled + label::after{
	opacity: 0.4;
}
.fillers-item input:disabled + label::before{
	opacity: 0.4;
}
.apply-btn{
	padding: 8px 28px;
	margin-top: 21px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	border-radius: 30px;
	border: 2px solid #ffffff;
	background-color: rgba(248, 247, 244, 0.2);
}
.apply-btn:hover{
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
	border-radius: 30px;
	background-color: #fbfcfb;
}
.apply-btn:active{
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #323232;
	border-radius: 30px;
	background-color: rgba(248, 247, 244, 0.988);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
.wrap-catalog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.ice-item{
	position: relative;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 40px;
}
.ice-item:nth-child(4n){
	margin-right: 0;
}
.ice-item img{
	border-radius: 140px;
}
.ice-item b{
	position: absolute;
	top: 210px;
	left: 1px;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}	
.ice-item small{
	position: absolute;
	top: 214px;
	left: 114px;
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.ice-item a{
	display: block;
	width: 260px;
	margin-top: 10px;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}
.ice-item span{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.ice-item::before{
	position: absolute;
	width: 293px;
	height: 328px;
	padding-bottom: 77px;
	left: -13px;
	top: -6px;
	display: none;
	background-color: rgba(255, 255, 255,.3);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	content: "";
	z-index: -2;
}
.ice-item:hover{
	z-index: 1;
}
.ice-item:hover::before{
	display: block;
}
.ice-item:hover .btn-hit-ice{
	display: block;
}
.wrap-pug ul{
	display: flex;
	padding: 0;
	margin-top: 36px;
	margin-bottom: 28px;
	margin-left: auto;
	list-style-type: none;
}
.paginator{
	display: block;
	padding: 4px 8px 3px;
	margin-right: 3px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 50%;
}
.paginator img{
	padding-top: 2px;
}
.paginator:hover{
	background-color: rgba(255, 255, 255, .2);
	color: #ffffff;
}
.pug-active{
	background-color: #fff;
	color: #323232;
}
.wrap-pug{
	display: flex;
}

.time-work{
	font-size: 14px;
	line-height: 13px;
	color: #ffffff;
}
.main-phone{
	display: block;
	padding-top: 13px;
	font-size: 22px;
	color: #ffffff;
}
.site-navigation li{
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	list-style: none;
}
.sign-in,
.basket{
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}
.container-slides{
	color: white;
	text-align: center;
}
.slide-title{
	width: 700px;
	margin: 0 auto;
	margin-bottom: 39px;
	padding-top: 283px;
	font-size: 60px;
	font-weight: bold;
	line-height: 60px;
}
.slider-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.slide-one h2,
.slide-two h2,
.slide-three h2{
	font-size: 60px;
	color: white;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
}
a.button-slides{
	border-radius: 35px;
	padding: 11px 41px;
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
a.button-slides:hover{
	border-radius: 35px;
	padding: 11px 41px;
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
a.button-slides:active{
	border-radius: 35px;
	padding: 11px 41px;
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}
.slide-radio{
	position: absolute;
	left: 1px;
	bottom: 12px;
	z-index: 20;
	display: flex;
	font-size: 0;
}
.slide-radio label{
	position: relative;
	display: block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slide-radio input:checked + label{
	background-color: #ffffff;
}
.slide-radio input:hover + label{
	background-color: rgba(255, 255, 255, .4);
}
.container-action .wrapper{
	display: flex;
	justify-content: space-between;
}
.action-raspberry,
.action-chocolate{
	min-height: 195px;
	border-radius: 20px;
}
.action-raspberry{
	width: 520px;
	padding: 18px 20px;
	background-color: #b2042c;
	background-image: url(../img/raspberry-bag.jpg);
	background-repeat: round;
}
.action-chocolate{
	width: 520px;
	padding: 18px 20px;
	background-color: #5a3519;
	background-image: url(../img/chocolate-bag.jpg);
	background-repeat: round;
}
.container-action{
	margin-top: 49px;
}
.container-action h2{
	margin: 0;
	margin-bottom: 15px;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
}
.container-action p{
	width: 515px;
	padding-bottom: 11px;
	margin-top: 0;
	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
}
a.action-btn{
	display: block;
	margin: 0;
	margin-top: 33px;
	margin-left: auto;
	border-radius: 35px;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
a.action-btn:hover{
	border-radius: 35px;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
a.action-btn:active{
	border-radius: 35px;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.act-raspberry{
	width: 124px;
}
.act-chocolate{
	width: 150px;
}
.popular .wrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 39px;
}
.popular-item{
	position: relative;
	width: 267px;
	margin-right: 26px;
	margin-bottom: 40px;
}
.popular-item:last-child{
	margin-right: 0;
}
.popular-item img{
	border-radius: 140px;
}
.popular-item b{
	position: absolute;
	top: 210px;
	left: 1px;
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}	
.popular-item small{
	position: absolute;
	top: 214px;
	left: 114px;
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}
.popular-item a{
	display: block;
	width: 260px;
	margin-top: 10px;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	text-align: center;
}
.popular-item span{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.popular-item::before{
	position: absolute;
	width: 293px;
	height: 328px;
	padding-bottom: 77px;
	left: -13px;
	top: -6px;
	display: none;
	background-color: rgba(255, 255, 255,.3);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	content: "";
	z-index: -2;
}
.popular-item:hover{
	z-index: 1;
}
.popular-item:hover::before{
	display: block;
}
.popular-item:hover .btn-hit-ice{
	display: block;
}
.popular-item::after{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 61px;
	height: 61px;
	background-image: url(../img/hit.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
	z-index: 3;
}
a.btn-hit-ice{
	display: none;
	position: absolute;
	left: 50%;
	padding-top: 10px;
	-webkit-transform: translate(-50%,0 );
	-moz-transform: translate(-50%,0 );
	-ms-transform: translate(-50%,0 );
	-o-transform: translate(-50%,0 );
	transform: translate(-50%,0 );
	border-radius: 35px;
	width: 200px;
	height: 34px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: center;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
a.btn-hit-ice:hover{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
a.btn-hit-ice:active{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.container-features{
	width: 1146px;
	min-height: 306px;
	margin: 0 auto;
	margin-top: -2px;
	background-color: #ece0c5;
	background-image: url(../img/waffle-background.jpg);
	border-radius: 17px;
}
.features-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.features-list li{
	display: flex;
	width: 49%;
	margin-bottom: 7px;
	box-sizing: border-box;
}
.features-list p{
	padding-top: 15px;
	padding-left: 7px;
	margin: 0;
}
.features-list img{
	width: 49px;
	height: 49px;
	padding-left: 20px;
}
.features-list li:nth-child(2n){
	padding-left: 4px;
}
.container-features h3{
	padding: 25px 20px 7px;
	margin: 0;
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}
.container-features li{
	list-style: none;
}
.container-features p{
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}
.container-information{
	margin-top: 40px;
}
.wrap-information{
	display: flex;
	justify-content: space-between;
}
.info-news{
	width: 520px;
	min-height: 160px;
	padding: 24px 20px;
	background-color: #ffffff;
	background-image: url(../img/strawberry-bag.jpg);
	background-repeat: round;
	border-radius: 20px;
}
.info-news small{
	font-size: 16px;
	line-height: 22px;
	color: #323232;	
	background-color: #ffffff;
}
.fruct-ice{
	display: block;
	width: 281px;
	margin-top: 4px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
	text-decoration: underline;
}
.info-subscribe{
	min-height: 160px;
	padding: 6px;
	background-image: url(../img/bg-post.svg);
	background-repeat: no-repeat;
}
.form-subscribe{
	margin-top: 34px;
	margin-bottom: 6px;
	display: flex;
	justify-content: space-between;
}
.lines{
	width: 509px;
	padding: 29px 20px;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	background-color: #f8f7f4;
	border-radius: 5px;
}
.lines input[type="email"]{
	width: 340px;
	padding: 0 14px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.subscribe-link{
	border-radius: 35px;
	padding: 10px 18px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
}
.subscribe-link:hover{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.subscribe-link:active{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.container-map{
	position: relative;
	min-height: 367px;
	padding-top: 63px;
	margin-top: 40px;
	background-image: url(../img/maps.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.contacts{
	width: 252px;
	margin-left: auto;
	padding: 27px 25px 31px;
	border-radius: 15px;
	background-color: rgba(255, 254, 254, 0.98);
}
.con-time{
	padding-top: 16px;
	margin: 0;
}
.contacts span{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
}
.office-address{
	display: block;
	width: 224px;
	margin-top: 2px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
}
.con-address{
	display: block;
	width: 151px;
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	color: #323232;
}
.con-phone{
	display: block;
	padding-top: 6px;
	padding-bottom: 2px;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #323232;
}
.map-pin{
	position: absolute;
	top: 75px;
	left: 239px;
}
.btn-form-map{
	display: block;
	border-radius: 35px;
	padding: 10px 27px;
	margin-top: 24px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
}
.btn-form-map:hover{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.btn-form-map:active{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	border: none;
}
.modal-contacts{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 420px;
	padding: 14px 18px 25px;
	transform: translate(-50%, -50%);
	display: none;
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: 500;
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
	z-index: 50;
}
.close-contacts{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 18px;
	height: 17px;
	background-image: url(../img/cross-big.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
}
.modal-form-contacts input[type="text"],
.modal-form-contacts input[type="email"],
.modal-form-contacts textarea{
	width: 265px;
	padding: 8px 15px;
	margin: 10px 0;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	border: 1px solid #d3d3d2;
}
.modal-contacts-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, .3);
	z-index: 40;
}
.modal-form-contacts textarea{
	width: 388px;
}
.btn-form-submit{
	border-radius: 35px;
	padding: 10px 24px;
	display: block;
	margin-left: auto;
	font-family: "Roboto", "Arial", sans-serif;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border: none;
}
.btn-form-submit:hover{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.btn-form-submit:active{
	border-radius: 35px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.main-footer{
	margin-top: 16px;
	padding-bottom: 20px;
}
.wrap-footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer-social{
	padding-top: 14px;
}
.footer-social ul{
	display: flex;
	justify-content: space-between;
	width: 186px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.social-button{
	display: block;
}
.social-button svg{
	fill: rgba(255, 255, 255, .8);
	border: 3px solid rgba(255, 255, 255, .4);
	border-radius: 50%;
}
.social-button svg:hover{
	fill: #ffffff;
	border: 3px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
}
.social-button svg:active{
	fill: rgba(255, 255, 255, .8);
	border: 3px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	box-shadow: inset 0 2px 1px #888;
}
.footer-info{
	display: flex;
	width: 340px;
	flex-wrap: wrap;
	padding-left: 43px;
	padding-top: 14px;
	padding-bottom: 10px;
}
.footer-info span{
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.about-info{
	width: 165px;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
.provider-info{
	position: relative;
	width: 165px;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;
}
.provider-info::before{
	position: absolute;
	top: 3px;
	left: -22px;
	width: 15px;
	height: 13px;
	background-image: url(../img/heart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
}
.info-col-left{
	width: 111px;
	margin-right: 31px;
}
.info-col-right{
	width: 162px;
}
.htmlacademy{
	width: 191px;
	min-height: 60px;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
}
.htmlacademy img{
	width: 113px;
	height: 38px;
	padding-left: 2px;
	padding-bottom: 2px;
}
.htmlacademy p{
	margin: 0;
	padding-left: 1px;
}
.htmlacademy a{
	color: #ffffff;
	text-decoration: underline;
}